* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h2 {
    margin-top: 5% ;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.section-images {
    margin-bottom: 50px;
    padding: 50px;
    height: 300px;
    float: left;
}

#online-reputation-management {
    float: right;
}

.textalign {
    margin-left:  5%; ;
}

.benefits-div {
    position: absolute;
    left: 43%;
    top: 134%
    
}

.benefits { 
    margin-right: 10px;
    padding: 5%;
    clear: both;
    float: right;
    width: 35%;
    height: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
} 

.benefits-images {
    display:block;
    margin: 10px auto;
    max-width: 150px;
}


